:root {
  --color-main: #b5b0f5;
  --color-main-2: #6d6da3;
  --color-background-1: #1f1c3f;
  --color-background-2: #000000;

  --color-string: #6d6da3;
  --color-fretboard-background: #222241;
  --color-fret: #3a3a5a;
}
